/spoold
/incoming
/failed
/pending
/complete
*.o
*.obj
*.exe
*.dylib
*.so
*.a
*.lo
*.la
*.in
*.cat
.deps
.libs
aclocal.m4
Makefile
Makefile.in
/configure
/autom4te.cache
/depcomp
/config.h
/config.status
/config.cache
/config.log
/config.guess
/config.sub
/install-sh
/missing
/stamp-h*
